*{
    margin: 0;
    padding: 0;
    box-sizing :border-box;

} 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
 }
 .wrapper{
    height: 500px;
    width: 500px;
    position: relative;
 }
 .wrapper img{
    height: 100%;
    width: 100%;
    margin-top: -50px;
    position: absolute;

 }
 